body{
      text-align: center;
      /*width:200px;*/
      /*padding:20px;*/
}

h1{
  font-size: 4rem;
  background-color: #EAD3BC;
  color: #62A3CC;
  margin-top: -4rem;
  padding-top: -3rem;
  
}

.mainImg{
      position: absolute;
      margin-left: -50%;
      background-color: #62A3CC;
      padding: 3% 25% 13% 5%;
      margin-top: -2rem;
}

.mainForm{
      /*background-color: #62A3CC;*/
       /*position: absolute;*/
      margin-left: 45%;
      padding: 1% 3% 1% 15%;
      font-size: 1.3rem;
      
}

.footer{
      text-align: center;
      margin: 2rem auto auto 2rem;
}

.circle{
      border-radius: 15px; /* Rounded button edges */
      margin: 5px;
      padding: 5px 10px;
}

.btn{
      font-size: 1.3rem;
      padding: 10px 60px;
      font-weight: normal;
      margin-left: 70%;
      margin-top: 5%;
      width: 90%;
}